*/.DS_Store
assets/minecraft/models/item/.DS_Store
assets/minecraft/models/item/placeable/.DS_Store
assets/minecraft/models/item/placeable/machine/.DS_Store
assets/minecraft/models/item/shaved_ice/.DS_Store
